REDIS_HOST = 'localhost'
REDIS_PORT = 6379
REDIS_DB = 0
REDIS_PASSWORD = Password is required, make sure to set the REDIS_PASSWORD environment variable in your docker-compose.yml file.
NYTIMES_API_KEY= Your API key is required, make sure to set the NYTIMES_API_KEY in your environment. You can get one here: https://developer.nytimes.com/docs/books-product/1/overview
